/* Variaveis do tema do site */
:root{
    --main-bg-color: #000361;
    --secondary-bg-color: #2173FF;
    --tertiary-bg-color: #F0F3F6;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-bg-color);
}

/* Cores padrao de background */
.bg-theme-primary {
    background-color: var(--main-bg-color);
}

.bg-theme-secondary {
    background-color: var(--secondary-bg-color);
}

.bg-theme-tertiary {
    background-color: var(--tertiary-bg-color);
}

/* Section intro */
.section-intro {
    background-image: url("./imagens/celular-aberto-intro.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    padding: 4.375rem 0rem;
}


/* NavBar */
.nav-link:hover {
    color: var(--secondary-bg-color);
}

.nav-link {
    color: white;
}


/* Titulos */
h1 {
    font-size: 72px;
    font-weight: 500;
}

h2 {
    font-size: 48px; 
    font-weight: 700;
}

h3 {
    font-size: 30px; 
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

h5 {font-size: 20px;}


/* Paragrafos */
.big {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}


/* Sections */
section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.article {
    padding: 70px 30px 45px 0px;
}

/* Tabela */
.table {
    color: var(--main-bg-color);
}